<h1>Bem-vindo ao CRM App</h1>
<p>Este software está sendo processado com Ruby versão <%= RUBY_VERSION %></p>

<% if @manutencao == true %>
<p style="color:red;">Este software está em modo de manutenção</p>
<% end %>
